body{
  font-family: helvetica, ariel ,san-serif;

  margin: 0;
  background: #020202;
  cursor: crosshair;
}









/* Configuración del video de fondo */
#videoBackground {
    position: fixed; /* El video será fijo, ocupando toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ancho completo de la pantalla */
    height: 100vh; /* Altura completa de la pantalla */
    object-fit: cover; /* El video se ajusta al tamaño de la pantalla */
    z-index: -1; /* El video está detrás de todo el contenido */
}

/* Estilo para el contenido principal */
#mainContent {
    position: relative;
    z-index: 1; /* El contenido está por encima del video */
    color: white; /* Color del texto para que se vea bien sobre el video */
    padding: 20px;
    text-align: center;
}




table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina espacios entre celdas */
}

/* Estilo para celdas */
td {
    padding: 10px; /* Espacio interno en cada celda */
    vertical-align: top; /* Alineación vertical superior */
}

/* Anchos de las celdas */
td.column-30 {
    width: 30%; /* Celda que ocupa el 30% del ancho */
}

td.column-70 {
    width: 70%; /* Celda que ocupa el 70% del ancho */
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.frame{
	width: 600px;
	height: 850px;
	margin: 250px auto 0;
	position: relative;
	background: #435d77;
	border-radius:0 0 40px 40px; 
}
#button_open_envelope{
	width: 180px;
	height: 30px;
	position: absolute;
	z-index: 311;
	top: 550px;
	left: 208px;
	border-radius: 10px;
	color: #fff;
	font-size: 26px;
	padding:15px 0; 
	border: 2px solid #fff;
  transition: all .3s ease-in-out;
}
#button_open_envelope:hover{
	background: #FFf;
	color: #081D3D;
	transform:scale(1.1);
	cursor: pointer;
}
.message{
    padding: 10px; /* Puedes ajustar el valor según tus preferencias */
	position: relative;
	width: 580px;
	min-height:300px;
	height: auto;
	background: #f0f0d8;
	margin: 0 auto;
	top: 30px;
	box-shadow: 0 0 5px 2px #333;
	transition:2s ease-in-out;
	transition-delay:1.5s;
	z-index: 300;
}
.left,.right,.top{width: 0;	height: 0;position:absolute;top:0;z-index: 310;}
.left{	
	border-left: 300px solid #a1a1a1;
	border-top: 360px solid transparent;
	border-bottom: 360px solid transparent;
}
.right{	
	border-right: 300px solid #a1a1a1;
	border-top: 360px solid transparent;
	border-bottom: 360px solid transparent;;
	left:300px;
}
.top{	
	border-right: 300px solid transparent;
	border-top: 370px solid #c8cbc1;
	border-left: 300px solid transparent;
	transition:transform 1s,border 1s, ease-in-out;
	transform-origin:top;
	transform:rotateX(0deg);
	z-index: 500;
}
.bottom{
	width: 600px;
	height: 690px;
	position: absolute;
	background: #c8cbc1;
	top: 160px;
	border-radius:0 0 30px 30px;
	z-index: 310; 
}

.open{
	transform-origin:top;
	transform:rotateX(180deg);
	transition:transform .7s,border .7s,z-index .7s ease-in-out;
	border-top: 200px solid #2c3e50;
	z-index: 200;
}
.pull{
-webkit-animation:message_animation 2s 1 ease-in-out;
    animation:message_animation 2s 1 ease-in-out;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
    -webkit-animation-delay:.9s;
    animation-delay:.45s;
    transition:1.5s;
    transition-delay:1s;
    z-index: 300;
}



@-webkit-keyframes message_animation {
	0%{
		transform:translatey(0px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	50%{
		transform:translatey(-340px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	51%{
		transform:translatey(-340px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
	100%{
		transform:translatey(0px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
}
@keyframes message_animation {
	0%{
		transform:translatey(0px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	50%{
		transform:translatey(-340px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	51%{
		transform:translatey(-340px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
	100%{
		transform:translatey(0px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
}